 <div class="container">
 <%= simple_form_for([@country, @booking], remote: true) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Request a booking", class: "btn-flat-RV", id: "anchor"%>
  <% end %>
</div>
