<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<div class="container">
<h1> Navbar+btn+avatar </h1>
</div>

<div class="banner-home">
    <h1>Be different. Rent a country.</h1>
    <p>Help overwhelmed presidents take a break</p>
    <div class="container">
      <a href="#" class="btn btn-info center">Rent a country! (insert Jonas's button here)</a>
    </div>
</div>
