<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<!---------------------- NAVBAR ---------------------->
<!---------------------- BANNER ---------------------->
<div class="banner-home">
    <div class="container">
      <h1>Be different. Rent a country.</h1>
      <p>Help overwhelmed presidents take a break</p>
      <%= link_to 'Rent a Country', countries_path, class: "btn btn-flat"  %>
    </div>
</div>
