<!-- Lou's Info: This file is important for the info windows of the map's markers.-->
<h2><%= country.name %></h2>
<p style="margin-top: 2px; margin-bottom: 5px;"><em><%= country.address %></em></p>
<%= link_to "See Details", country_path(country), class: "btn btn-primary"  %>
