
<div class="container">
  <div class="container-position">
    <h3 id="letter-space"> <%= @country.name.upcase %> </h3>
    <h5 id="letter-space"> <%= @country.description %> </h5>
  </div>
</div>

<div class="container">
  <img src="https://source.unsplash.com/random" alt="unsplash">
</div>

<div class="container">
  <h4>Entire Country Hosted by: <%= @country.user.first_name%></h4>
</div>



<br>
<br>
<p>Welcome back: <%= current_user.first_name %></p>

