.banner-home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.75) ), url("https://images.unsplash.com/photo-1562504208-03d85cc8c23e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  background-position: center;
  padding: 300px 50px 50px 20px;
  height: 100vh;   // need to update this one once the navbar is done to adjust heights

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 45px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}


.banner-right-half {
  background-image: url("https://images.unsplash.com/photo-1519500099198-fd81846b8f03?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  width: 50vw;
  height: 90vh;
}

.show-banner {
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  height: 60vh;
  background-size: cover;
  background-position: center;
  margin-top: 70px;
  position: relative;

}

.bottom-border {
  border-bottom: 1px solid rgb(211,211,211);
}
