.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform .2s;
}

.card-category:hover{
  // color: #E8CD5F;
  transform: scale(1.02);
  filter: saturate(200%);
  // font-size: 28px;
  // NEED TO FIND A BETTER EFFECT THAN THIS UGLY YELLOW I PUT - LOU
  // TO DESIDE WITH THE BOYS...
  // $vegas-gold: #B9A44C;
  // $neon-orange: #FA7921;
  // $lighter-orange: #FE9920;
}



.cards-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 16px;
padding: 16px;
flex-grow: 1;
}

.cards-container a {
  margin-bottom:0px;
  padding-bottom: 0px;
}
